@import "../styles/Styles.scss";

.dropdown-toggle {
    color: $MEDIUM_GRAY;
    font-weight: $FONT_WEIGHT_700;
}

.dropdown-toggle:hover {
    color: $ALMOST_BLACK;
}

.nav-link {
    color: $MEDIUM_GRAY;
    font-weight: $FONT_WEIGHT_700;
    padding: 0.5rem 1.5rem;
    transition: ease-in-out 0.3s;
}

.nav-link:hover {
    color: $ALMOST_BLACK;
}

.nav-link:focus {
    color: $ALMOST_BLACK;
}

.dropdown-menu {
    min-width: 0;
    padding: 1rem 0;
    border-radius: 10px;
    border: 0;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
}

.dropdown-item {
    padding: 0.25rem 1.4rem;
}

.icon {
    margin-right: 1rem;
    background-color: transparent;
}

@media all and (max-width: $MOBILE) {
    .nav {
        flex-direction: column;
    }

    .dropdown-menu {
        position: unset !important;
        transform: none !important;
        box-shadow: none;
        border-radius: 0;
        background-color: $ALMOST_WHITE;
        padding: .5rem 0 .5rem 1.5rem;
    }
}