@import "../styles/Styles.scss";

.nav-bar-container {
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

.logo-container {
    padding: 0.25rem 2rem 0 2rem;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    padding: 0 2rem;
    width: 16rem;
}

@media all and (max-width: $MOBILE) {
    .nav-bar-container {
        display: none;
    }
}